* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* home page css start */

.main-container {
  max-width: 90%;
  margin: auto;
}

.logo {
  margin: 5% auto;
}

.logo img {
  display: block;
  margin: auto;
  width: 30vw;
}

#menu-bar {
  display: none;
}

nav ul {
  max-width: 100%;
  padding: 2%;
  border-top: 1px solid #eae8e5;
  border-bottom: 1px solid #eae8e5;
}

nav ul li {
  display: inline-block;
  margin: auto;
  border-right: 1px solid #eae8e5;
}

section.down h3:hover,
nav ul li a:hover {
  color: #968a7e;
}

.active {
  border-bottom: 2px solid #eae8e5;
}

nav ul li:last-child {
  border-right: none;
  border-bottom: none;
}

nav ul li a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 1.2vw;
  font-weight: bold;
  color: rgb(68, 68, 68);
  margin: 2.5vw;
  font-weight: 400;
}

nav ul {
  margin: 0 auto;
  text-align: center;
}

section.background h1 {
  text-align: center;
  padding: 20%;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 4vw;
  color: whitesmoke;
}

section.middle {
  margin: 0 auto;
}

.main-box {
  width: 100%;
  display: inline-flex;
}

.big-box {
  display: inline-flex;
  width: 100%;
}

.img-box {
  width: 62%;
}

.img-box img {
  width: 100%;
  height: max-content;
}

.mini-image-box,
.mini-img {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.mini-img.mini-logo {
  width: 65%;
}

.mini-img img {
  margin-top: 3vw;
  padding-right: 2vw;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.text-box1 {
  width: 38%;
  display: block;
  margin-top: 10%;
}

.text-box1 p {
  width: 100%;
  padding-right: 1.1vw;
  font-size: 1vw;
  font-family: "Merriweather", serif;
  line-height: 1.8vw;
}

.text-box1::first-letter {
  font-family: "Playfair Display black", serif;
  font-weight: bold;
  font-size: 10vw;
  line-height: 0;
  color: rgb(194, 187, 180);
}

.text-box1 p:first-child {
  font-weight: bold;
}

.text-box1 button:hover {
  background: #e8dccf;
}

.text-box1 button {
  margin-top: 4vw;
  text-transform: uppercase;
  width: 95%;
  padding: 1vw;
  border: 1px solid rgb(224, 220, 217);
  font-family: "Playfair Display", serif;
  font-size: 1.5vw;
  letter-spacing: 2px;
  background-color: white;
}

.text-box1 button a {
  color: rgb(150, 138, 126);
  text-decoration: none;
}

p.text-box2 {
  font-family: "Playfair Display", serif;
  color: rgb(150, 138, 126);
  font-size: 2vw;
  width: 20%;
  height: 43vw;
  display: block;
  margin-top: 10%;
  padding-left: 2.5%;
  line-height: 1.2;
  border-left: 1px solid rgb(224, 220, 217);
}

section.main-down {
  margin: 0 auto;
  text-align: center;
}

section.down {
  display: inline-flex;
  margin: auto;
  width: 100%;
}

section.down .box {
  width: 22%;
  margin: 1.5%;
  float: left;
}

section.down h3 {
  margin-top: 30%;
  margin-bottom: 30%;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2vw;
  color: rgb(68, 68, 68);
  letter-spacing: 3px;
  font-weight: 400;
}

section.down h3::after,
section.down h3::before {
  height: 1px;
  display: block;
  width: 7.4vw;
  background-color: #eae8e5;
  content: "";
  margin: 5% auto;
}

section.down img {
  width: 100%;
  height: auto;
}

section.down p {
  padding: 15px;
  margin-top: 15%;
  font-family: "Merriweather", serif;
  font-size: 1vw;
  line-height: 1.8;
  text-align: left;
  color: black;
}

footer {
  margin: 10% auto;
}

hr {
  color: #eae8e5;
}

footer img {
  width: 10vw;
  display: block;
  margin: -4% auto;
}

footer .contact {
  margin-top: 6%;
  font-family: "Merriweather", serif;
  color: rgb(150, 138, 126);
  font-size: 1.2vw;
}

footer p {
  margin: 10px auto;
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: #968a7e;
}

/* home page css end */

/* about page css start */

.heading {
  font-size: 5.5vw;
  color: #9c9185;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  margin-top: 1.5vw;
  margin-bottom: 5.5vw;
}

.heading span {
  border-bottom: 1px solid #eae8e5;
  padding-left: 3.2vw;
  word-spacing: 1vw;
}

.about-content {
  font-family: "Merriweather";
  font-size: 1.09vw;
  line-height: 1.8vw;
  width: 27%;
  float: left;
  margin-bottom: 10vw;
  color: #444444;
}

.about-content p:first-child {
  font-weight: 700;
}

.about-content::first-letter {
  font-family: "Playfair Display black", serif;
  font-weight: bold;
  font-size: 10vw;
  line-height: 0;
  color: rgb(194, 187, 180);
}

.about-slider ul {
  list-style: none;
}

.about-slider .slide img {
  width: 70%;
  margin-left: 2vw;
  margin-top: -2vw;
  float: left;
}

.about-middle-img {
  float: left;
}

.about-middle-img img {
  float: left;
  width: 53%;
  margin-right: 5vw;
}

.about-middle-img p {
  font-family: "Merriweather";
  font-size: 1.09vw;
  line-height: 1.8vw;
  width: 41%;
  float: left;
  margin-bottom: 2vw;
  color: #444444;
}

/* about page css end */

/* gallery page css start  */

.gallery-content {
  font-family: "Merriweather";
  font-size: 1.09vw;
  line-height: 1.8vw;
  width: 100%;
  float: left;
  padding: 0 3vw 4vw 0;
  color: #444444;
}

.gallery-content p:first-child {
  font-weight: 700;
}

.gallery-content::first-letter {
  font-family: "Playfair Display black", serif;
  font-weight: bold;
  font-size: 10vw;
  line-height: 0;
  color: rgb(194, 187, 180);
}

.main .gallery-content a {
  text-decoration: none;
  color: #444444;
  font-weight: 700;
}

.gallery-img {
  width: 100%;
  display: inline-flex;
}
.gallery-img .row {
  width: 33%;
  margin: 0.5%;
}
.main .gallery-img img {
  width: 100%;
  height: auto;
  margin: 1%;
}
/* gallery page css end  */

@media only screen and (max-width: 1200px) {
  /* extra large devices (large laptops and desktops, 1200px and up) */
}

@media only screen and (max-width: 990px) {
  /* large devices (laptops and desktops, 990px and up) */

  .logo img {
    width: 40vw;
  }

  .main-box {
    width: 100%;
    display: block;
  }

  p.text-box2 {
    width: 100%;
    height: 5vw;
    display: block;
    padding-left: 0;
    text-align: center;
    border-left: none;
    font-size: 2.5vw;
    margin-top: 5%;
  }

  #menu-bar {
    display: block;
    height: 37px;
    margin: 0 auto;
    padding: 12px 0;
    top: 0;
    position: absolute;
    z-index: 999;
    font-weight: 600;
    font-size: 2.2vw;
    color: #9c9185;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
  }

  nav {
    width: 90%;
    position: absolute;
    z-index: 2;
    background: white;
  }

  nav ul li {
    width: 100%;
  }

  nav ul {
    border-top: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    border-right: none;
    border-bottom: 1px solid #e6e6e8;
    margin: 0;
    padding: 1vw;
  }
  nav ul li a {
    font-size: 2vw;
    font-weight: normal;
  }

  .text-box1 p {
    width: 100%;
    padding-right: 0;
    font-size: 1.5vw;
    font-family: "Merriweather", serif;
    line-height: 2vw;
    margin-top: -1vw;
  }

  .text-box1 button {
    width: 100%;
    font-size: 2vw;
  }

  section.down .box {
    width: 47%;
    margin: 1.5%;
    float: left;
  }

  section.down h3 {
    font-size: 2.5vw;
    margin-top: 15%;
    margin-bottom: 10%;
  }

  section.down p {
    font-size: 1.5vw;
    margin-top: 5%;
  }

  footer img {
    width: 15vw;
    display: block;
    margin: -5% auto;
  }

  footer .contact {
    font-size: 1.5vw;
  }

  /* about page 990px responsive css start */

  .about-content {
    font-size: 1.5vw;
    line-height: 2vw;
    width: 47%;
    margin-bottom: 4vw;
  }

  .about-slider .slide img {
    width: 50%;
    margin-top: 5vw;
  }

  .about-middle-img img {
    width: 45%;
    margin-right: 3vw;
    margin-top: 8vw;
  }

  .about-middle-img p {
    font-size: 1.5vw;
    line-height: 2vw;
    width: 51%;
  }

  /* about page 990px responsive css end */
}

@media only screen and (max-width: 770px) {
  /* smal devices (portrait tablets and large phones, 600px and up) */
  .box1 {
    display: block;
  }

  .box1 {
    display: inline-block;
    width: 100%;
    padding: 2%;
  }

  section.down .box {
    width: 100%;
    margin: 1.5%;
  }

  section.down p {
    margin-top: 5%;
    font-size: 2vw;
  }

  section.down h3 {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  footer .contact {
    font-size: 1.5vw;
  }

  section.down img {
    width: 90%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  /* extra smal devices (phones, 600px and up) */

  section.background h1 {
    padding: 10%;
    font-size: 7vw;
  }

  .logo img {
    width: 50vw;
  }

  nav ul li {
    margin: 0;
  }

  nav ul li a {
    font-size: 2.5vw;
  }

  #menu-bar {
    font-size: 3vw;
  }

  section.down {
    display: block;
    margin: auto;
    width: 100%;
  }

  section.down h3 {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 3.5vw;
  }

  section.down p {
    width: 90%;
    padding: 5px;
    text-align: center;
    font-size: 2.5vw;
    margin: 0 auto;
    margin-top: 5%;
  }

  .big-box {
    display: block;
    width: 100%;
  }

  .img-box {
    width: 100%;
  }

  .mini-img {
    width: 100%;
  }

  .img-box img {
    width: 100%;
    display: block;
    margin: 2vw auto;
    padding: 2vw !important;
  }

  .text-box1 {
    margin: 0 auto;
    width: 90%;
    display: block;
    margin-top: 10%;
  }

  .mini-img.mini-logo {
    width: 50%;
  }

  .text-box1 p {
    width: 100%;
    padding-right: 0;
    font-family: "Merriweather", serif;
    font-size: 3vw;
    line-height: 5vw;
  }

  .text-box1 button {
    width: 100%;
    padding: 2vw;
    font-size: 3vw;
  }

  p.text-box2 {
    width: 90%;
    margin: 10vw auto;
    font-size: 4vw;
  }

  footer img {
    width: 20vw;
    margin: -7% auto;
  }

  footer p {
    margin: 5px auto;
    text-align: center;
  }

  footer .contact {
    width: 75%;
    font-size: 2.2vw;
    margin: 10vw auto;
  }

  /* about page 600px responsive start */

  .about-content {
    margin: 0 auto;
    font-size: 2.5vw;
    line-height: 4vw;
    width: 95%;
    float: none;
    margin-bottom: 10vw;
  }

  .heading {
    font-size: 6vw;
    margin-bottom: 8vw;
  }

  .about-slider .slide img {
    width: 90%;
    float: none;
    display: block;
    margin: 0 auto;
  }

  .about-middle-img img {
    float: none;
    display: block;
    width: 90%;
    margin: 5vw auto;
  }

  .about-middle-img p {
    font-size: 2.5vw;
    line-height: 4vw;
    width: 90%;
    float: none;
    display: block;
    margin: 0 auto;
  }

  /* about page 600px responsive end */
}
